
                        <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">


                            {{ if .Params.education.enable }}
                            {{ partial "resume_education.html" . }}
                            {{ end }}

                            {{ if .Params.awards.enable }}
                            {{ partial "resume_awards.html" . }}
                            {{ end }}

                            {{ if .Params.skills.enable }}
                            {{ partial "resume_skills.html" . }}
                            {{ end }}

                            {{ if .Params.languages.enable }}
                            {{ partial "resume_languages.html" . }}
                            {{ end }}

                            {{ if .Params.interests.enable }}
                            {{ partial "resume_interests.html" . }}
                            {{ end }}

                        </aside><!--//resume-aside-->
